#
# ARM-TINY-USB
#daemon configuration
telnet_port 4444
gdb_port 3333
tcl_port 6666

source [find ./olimex-jtag-tiny.cfg]

jtag_nsrst_delay 100
jtag_ntrst_delay 100

reset_config trst_and_srst

# script for Atheros Ar71xx Network processor SoC
# It has a MIPs 24Kc core.
set CHIPNAME ar71xx
# jtag scan chain
# format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
jtag newtap $CHIPNAME cpu -irlen 5 -ircapture 0x1 -irmask 0x1f -expected-id 1

set TARGETNAME [format "%s.cpu" $CHIPNAME]
target create $TARGETNAME mips_m4k -endian big -chain-position $TARGETNAME

ar71xx.cpu configure -event reset-init "script ar71xx.init"

ar71xx.cpu configure -work-area-phys 0xa0010000 -work-area-size 0x20000

# serial SPI capable flash
# flash bank <driver> <base> <size> <chip_width> <bus_width>
init
reset init
halt
